<main>
  <app-header [State]="state" [StateButton]="statebutton" (onEditbutton)="Editbutton($event)"  (onStateDelete)="StateDelete($event)" ></app-header>

  <app-addstudent [State]="state" *ngIf="state.Add" (onAddStudent)="AddStudent($event)"></app-addstudent>

  <app-editstudent [StEdit]="StudentABC" [State]="state" [Students]="students" [StateButton]="statebutton" (onEditStudent)="EditStudent($event)"></app-editstudent>

  <app-body [State]="state" [Students]="students" [StateButton]="statebutton"  (onSentId)="SentId($event)" (onDeleteId)="DeleteStudent($event)"></app-body>

  <app-sumary [Students]="students" ></app-sumary>

</main>
