<div  *ngIf="State.Add" class="col-md-7 col-lg-8" style="margin-top: 100px; margin-left: 100px">
  <form class="needs-validation" novalidate="">
    <div class="row g-3">
      <div class="col-sm-2">
        <input
          #StudentCode
          type="text"
          class="form-control"
          (input)="AddStudentCode(StudentCode.value)"
          placeholder="Nhập mã SV"
        />
      </div>

      <div class="col-sm-5">
        <input
          #FullName
          type="text"
          class="form-control"
          (input)="AddFullName(FullName.value)"
          placeholder="Nhập họ tên SV"
        />
      </div>

      <div class="col-sm-2">
        <input
          #StudentClass
          type="text"
          class="form-control"
          (input)="AddStudentClass(StudentClass.value)"
          placeholder="Nhập lớp QL"
        />
      </div>

      <div  class="col-2">
        <button
          (click)="AddStudent()"
          style="padding: 4.5px; background-color: rgb(9, 93, 114)"
        >
          Add
        </button>
      </div>
    </div>
  </form>
</div>
