<nav
  class="navbar navbar-expand-md navbar-dark fixed-top"
  style="background-color: rgb(9, 95, 110)"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="margin-left: 50px"
      >QUẢN LÍ SINH VIÊN</a
    >

    <div class="dropdown" dropdown style="margin-right: 50px">
      <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>UP DATE</a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" (click)="StateAdd()" >Add</a>
          <div class="dropdow-divider"></div>
          <a class="dropdown-item"  (click)="Editbutton()" >Edit</a>
          <div class="dropdow-divider"></div>
          <a class="dropdown-item"  (click)="StateDelete()" >Delete</a>
        </div>
      </div>
    </div>
  </div>
</nav>
