<div *ngIf="State.Edit"  class="col-md-7 col-lg-8" style="margin-top: 100px; margin-left: 100px">
  <form class="needs-validation" novalidate="">
    <div class="row g-3">


      <div class="col-sm-5">
        <input
          #FullName
          type="text"
          class="form-control"
          placeholder={{StEdit.fullName}}
          (input)="EditFullName(FullName.value)"


        />
      </div>

      <div class="col-sm-2">
        <input
          #StudentClass
          type="text"
          class="form-control"
          placeholder={{StEdit.studentClass}}
          (input)="EditStudentClass(StudentClass.value)"

        />
      </div>

      <div class="col-5">
        <button (click)="EditStudent()" style="padding-top: 4.5px; padding-bottom: 4.5px; background-color: rgb(9, 93, 114); padding-left: 20px; padding-right: 20px; ">
          Edit for student - {{StEdit.studentCode}}
        </button>
      </div>
    </div>
  </form>
</div>


